.container { 
    display: flex; 
    flex-direction: column;
}
.header, .footer { 
    background: cyan;
}
.main { 
    display: flex;
}
.menu { 
    background: red;  
}
.content { 
    background: orange; 
}