
body {background-image: url(main-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(10px);
    }
    hr {
        border-color: brown;
    }
    h1, h2, h3 {
        text-align: center;
        color: rgb(255, 255, 255);
    }
    img {
        width: 200px;
    }
