.div-block {
    width: 200px;
    height: 200px;
    background-color: black; 
    transition: transform 3s, background-color 3s; 
}

.div-block:hover {
    animation: bg-and-deg-change 3s forwards; 
}

@keyframes bg-and-deg-change {
    0% {
    background-color: black; 
    transform: rotate(0deg); 
    }
    50% {
    background-color: green;
    transform: rotate(180deg);
    }
    100% {
    background-color: blue;
    transform: rotate(360deg);
    }
}
