#perent{
    width: 700px;
    height: 700px;
    background-color: green;
    position: relative;
}

#child{
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    left: 325px;
    top: 325px;
}