#main-div {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Changed from 6 to 7 columns */
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
    height: 50vh;
    width: 85vh;
}

#main-div div {
    background-color: #2ee02e;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}


#Header {
    grid-column: 1 / 8; 
}

#side-bar {
    grid-row: 2 / 4;
    grid-column: 1 / 2; 
}

#item-1 {
    grid-column: 2 / 8;
}

#item-2 {
    grid-column: 2 / 5;
}

#item-3 {
    grid-column: 5 / 8;
}

#Footer {
    grid-column: 1 / 8; 
}
